In [1]:
# a) Find Shape of Data
# b) Find Missing Values
# c) Find data type of each column
# d) Finding out Zero's
# e) Find Mean age of patients
# f) Now extract only Age, Sex, ChestPain, RestBP, Chol. Randomly divide dataset in training 
# (75%) and testing (25%)

In [2]:
import pandas as pd    
df=pd.read_csv("Heart.csv") 
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [3]:
 df.shape

(303, 15)

In [4]:
df.isnull()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [5]:
df.isnull().sum().sum()

6

In [6]:
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [7]:
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [8]:
(df==0).sum().sum()

985

In [9]:
df["Age"].mean()

54.43894389438944

In [10]:
from sklearn.model_selection import train_test_split
col=df[['Age', 'Sex','ChestPain', 'RestBP','Chol']]

In [11]:
x_train,x_test=train_test_split(col,train_size=0.75,shuffle=True)

In [12]:
x_test

     Age  Sex     ChestPain  RestBP  Chol
281   47    1    nonanginal     130   253
57    41    1  asymptomatic     110   172
254   43    1  asymptomatic     115   303
282   55    0  asymptomatic     128   205
157   58    1  asymptomatic     125   300
..   ...  ...           ...     ...   ...
257   76    0    nonanginal     140   197
150   52    1       typical     152   298
156   51    1  asymptomatic     140   299
1     67    1  asymptomatic     160   286
53    44    1    nontypical     130   219

[76 rows x 5 columns]

In [13]:
x_train

     Age  Sex     ChestPain  RestBP  Chol
279   58    0  asymptomatic     130   197
261   58    0    nontypical     136   319
300   57    1  asymptomatic     130   131
11    56    0    nontypical     140   294
152   67    0    nonanginal     115   564
..   ...  ...           ...     ...   ...
180   48    1  asymptomatic     124   274
74    44    1  asymptomatic     110   197
280   57    1  asymptomatic     110   335
97    60    0  asymptomatic     150   258
48    65    0    nonanginal     140   417

[227 rows x 5 columns]